In [3]:
import psycopg2
import pandas as pd
from sqlalchemy import create_engine

In [9]:
# PostgreSQL connection parameters (replace with your own Render database details)
host = "dpg-cur2o7lds78s7384jthg-a.oregon-postgres.render.com"  # Use your Render PostgreSQL hostname
database = "spraydabase"
user = "spraydabase_user"
password = "8pgy9Sba79ETgds8QcaycQj0U6uIhhwQ"
port = 5432

# Connect to PostgreSQL
conn = psycopg2.connect(dbname=database, user=user, password=password, host=host, port=port)
cursor = conn.cursor()

# Create table if it doesn't exist
cursor.execute("""
    DROP TABLE IF EXISTS oceanographic_data;
               
    CREATE TABLE oceanographic_data (
        Cruise VARCHAR,
        Station INT,
        Type VARCHAR(1),
        Date VARCHAR,
        Time VARCHAR,
        Datetime VARCHAR,
        Lon FLOAT,
        Lat FLOAT,
        QF_1 FLOAT,
        Pressure FLOAT,
        QF_2 FLOAT,
        Temperature FLOAT,
        QF_3 FLOAT,
        Salinity FLOAT,
        QF_4 FLOAT,
        Sigma_theta FLOAT,
        QF_5 FLOAT,
        Depth FLOAT,
        QF_6 FLOAT,
        Oxygen FLOAT,
        QF_7 FLOAT,
        OxygenSat FLOAT,
        QF_8 FLOAT,
        Nitrate FLOAT,
        QF_9 FLOAT,
        Chl_a FLOAT,
        QF_10 FLOAT,
        b_bp700 FLOAT,
        QF_11 FLOAT,
        pHinsitu FLOAT,
        QF_12 FLOAT,
        b_bp532 FLOAT,
        QF_13 FLOAT,
        CDOM FLOAT,
        QF_14 FLOAT,
        TALK_CANYONB FLOAT,
        QF_15 FLOAT,
        DIC_CANYONB FLOAT,
        QF_16 FLOAT,
        pCO2_CANYONB FLOAT,
        QF_17 FLOAT,
        SAT_AR_CANYONB FLOAT,
        QF_18 FLOAT,
        pH25C_1atm FLOAT,
        QF_19 FLOAT,
        DOWNWELL_PAR FLOAT,
        QF_20 FLOAT,
        DOWN_IRRAD380 FLOAT,
        QF_21 FLOAT,
        DOWN_IRRAD443 FLOAT,
        QF_22 FLOAT,
        DOWN_IRRAD490 FLOAT,
        QF_23 FLOAT,
        VRS FLOAT,
        QF_24 FLOAT,
        VRS_STD FLOAT,
        QF_25 FLOAT,
        VK FLOAT,
        QF_26 FLOAT,
        VK_STD FLOAT,
        QF_27 FLOAT,
        IK FLOAT,
        QF_28 FLOAT,
        Ib FLOAT,
        QF_29 FLOAT
    );
""")

# Commit and close
conn.commit()
cursor.close()
conn.close()

In [ ]:
# Read the TXT file
file_path = r"C:\Users\bwerb\Documents\GitHub\PlotlyDashApps\TestApp\25202901RT.txt"
df = pd.read_csv(file_path, delimiter="\t", skiprows=6)  # Ensure delimiter matches your file format

# Replace '-1e10' with NULL (None in Python) for missing values
df.replace(-1e10, None, inplace=True)

# Convert date column and store as string in 'YYYY-MM-DD' format
df.insert(4, "Date", pd.to_datetime(df["mon/day/yr"], format="%m/%d/%Y").dt.date)
df['Date'] = df['Date'].apply(lambda x: x.strftime('%Y-%m-%d'))  # Convert date to string format 'YYYY-MM-DD'

# Convert time column and store as string in 'HH:MM:SS' format
df.insert(5, "Time", pd.to_datetime(df["hh:mm"], format="%H:%M").dt.time)
df['Time'] = df['Time'].apply(lambda x: x.strftime('%H:%M:%S'))  # Convert time to string format 'HH:MM:SS'

# Now, 'Date' and 'Time' columns are ready to be inserted into PostgreSQL

# df["Date"] = pd.to_datetime(df["mon/day/yr"], format="%m/%d/%Y").dt.date
# df["Time"] = pd.to_datetime(df["hh:mm"], format="%H:%M").dt.time

# Drop original date/time columns
df.drop(columns=["mon/day/yr", "hh:mm"], inplace=True)

In [62]:

# PostgreSQL connection settings
# Connect to the PostgreSQL database
conn = psycopg2.connect(
    host=host,
    dbname=database,
    user=user,
    password=password
)
cursor = conn.cursor()

# Ensure each row is properly formatted as a tuple
for _, row in df.iterrows():
    values = tuple(row.astype(str))  # Convert all data to string before insertion
    cursor.execute("""
        INSERT INTO oceanographic_data VALUES ({})
    """.format(",".join(["%s"] * len(values))), values)  # Dynamically format placeholders

# Commit and close
conn.commit()
cursor.close()
conn.close()

KeyboardInterrupt:

THIS ONE BELOW WORKS!!!!

In [4]:
import psycopg2
import pandas as pd
from sqlalchemy import create_engine

In [3]:
# Read the TXT file
# file_path = r"C:\Users\bwerb\Documents\GitHub\PlotlyDashApps\TestApp\25202901RT.txt"
file_path = r"\\atlas.shore.mbari.org\ProjectLibrary\901805_Coastal_Biogeochemical_Sensing\Spray_Data\25202901\25202901RT.txt"
df = pd.read_csv(file_path, delimiter="\t", skiprows=6)  # Ensure delimiter matches your file format

In [5]:
db_url = "postgresql://spraydabase_user:8pgy9Sba79ETgds8QcaycQj0U6uIhhwQ@dpg-cur2o7lds78s7384jthg-a.oregon-postgres.render.com/spraydabase"
engine = create_engine(db_url)

In [ ]:
## These are options to modify data before inserting into table.

# Replace '-1e10' with NULL (None in Python) for missing values
df.replace(-1e10, None, inplace=True)
# df['Date'] = pd.to_datetime(df['mon/day/yr'], format='%m/%d/%Y')
# df['Datetime'] = pd.to_datetime(df['mon/day/yr'] + ' ' + df['hh:mm'], format='%m/%d/%Y %H:%M')



# Convert date column and store as string in 'YYYY-MM-DD' format
df.insert(4, "Date", pd.to_datetime(df["mon/day/yr"], format="%m/%d/%Y").dt.date)
df['Date'] = df['Date'].apply(lambda x: x.strftime('%Y-%m-%d'))  # Convert date to string format 'YYYY-MM-DD'

# Convert time column and store as string in 'HH:MM:SS' format
df.insert(5, "Time", pd.to_datetime(df["hh:mm"], format="%H:%M").dt.time)
df['Time'] = df['Time'].apply(lambda x: x.strftime('%H:%M:%S'))  # Convert time to string format 'HH:MM:SS'

# Convert time column and store as string in 'HH:MM:SS' format
df.insert(6, "Datetime", pd.to_datetime(df['mon/day/yr'] + ' ' + df['hh:mm'], format='%m/%d/%Y %H:%M'))
# df['TimDatetimee'] = df['Datetime'].apply(lambda x: x.strftime('%Y-%m-%d %H:%M:%S'))  # Convert time to string format 'HH:MM:SS'
df['PHIN_CANB_DELTA'] = df['pHinsitu[Total]'] - df['PHIN_CANYONB[Total]']
# Now, 'Date' and 'Time' columns are ready to be inserted into PostgreSQL

# df["Date"] = pd.to_datetime(df["mon/day/yr"], format="%m/%d/%Y").dt.date
# df["Time"] = pd.to_datetime(df["hh:mm"], format="%H:%M").dt.time

# Drop original date/time columns
df.drop(columns=["mon/day/yr", "hh:mm"], inplace=True)

In [ ]:
# This is a way more efficient solution
df_existing = pd.read_sql('SELECT * FROM "RT25202901"', engine) 
# Append new rows instead of rewriting the entire table
# Filter only new rows
new_rows = df[~df["unique_col"].isin(df_existing["unique_col"])]

# Append only new rows
new_rows.to_sql("RT25202901", engine, if_exists="append", index=False)

In [6]:
df.to_sql('RT25202901', engine, if_exists='replace', index=False) # To upload all data

239

In [6]:
# Read the 'data' table into a DataFrame
# df = pd.read_sql("SELECT * FROM data", engine)
df = pd.read_sql('SELECT * FROM "RT25202901"', engine) #double quotes needed for case-sensitive or numeric names

# Display the first few rows
print(df)

         Cruise  Station Type        Date      Time            Datetime  \
0      25202901      223    C  2025-02-28  08:51:00 2025-02-28 08:51:00
1      25202901      223    C  2025-02-28  08:51:00 2025-02-28 08:51:00
2      25202901      223    C  2025-02-28  08:51:00 2025-02-28 08:51:00
3      25202901      223    C  2025-02-28  08:51:00 2025-02-28 08:51:00
4      25202901      223    C  2025-02-28  08:51:00 2025-02-28 08:51:00
...         ...      ...  ...         ...       ...                 ...
39594  25202901      222    C  2025-02-28  06:10:00 2025-02-28 06:10:00
39595  25202901      222    C  2025-02-28  06:10:00 2025-02-28 06:10:00
39596  25202901      222    C  2025-02-28  06:10:00 2025-02-28 06:10:00
39597  25202901      222    C  2025-02-28  06:10:00 2025-02-28 06:10:00
39598  25202901      223    C  2025-02-28  08:51:00 2025-02-28 08:51:00

       Lon [째E]  Lat [째N]  QF  Pressure[dbar]  ...  QF.25  VK_STD[Volts]  \
0      -122.103    36.728   0          509.56  ...    0.0            0.0
1      -122.103    36.728   0          508.20  ...    0.0            0.0
2      -122.103    36.728   0          506.72  ...    0.0            0.0
3      -122.103    36.728   0          505.00  ...    0.0            0.0
4      -122.103    36.728   0          502.84  ...    0.0            0.0
...         ...       ...  ..             ...  ...    ...            ...
39594  -122.106    36.699   0            6.20  ...    0.0            0.0
39595  -122.106    36.699   0            3.80  ...    0.0            0.0
39596  -122.106    36.699   0            1.84  ...    0.0            0.0
39597  -122.106    36.699   0             NaN  ...    NaN            NaN
39598  -122.103    36.728   0          510.76  ...    0.0            0.0

       QF.26  IK[nA]  QF.27  Ib[nA]  QF.28  PHIN_CANYONB[Total]  QF.29  \
0        0.0  273.33    0.0   187.0    0.0               7.5141    8.0
1        0.0  273.33    0.0   187.0    0.0               7.5144    8.0
2        0.0  273.33    0.0   187.0    0.0               7.5126    8.0
3        0.0  273.33    0.0   187.0    0.0               7.5137    8.0
4        0.0  280.00    0.0   187.0    0.0               7.5142    8.0
...      ...     ...    ...     ...    ...                  ...    ...
39594    0.0  326.67    0.0   187.6    0.0               7.8131    0.0
39595    0.0  326.67    0.0   187.6    0.0               7.8314    0.0
39596    0.0  320.00    0.0   187.6    0.0               7.8478    0.0
39597    NaN     NaN    NaN     NaN    NaN                  NaN    NaN
39598    0.0  273.33    0.0   187.0    0.0               7.5136    8.0

       PHIN_CANB_DELTA
0               0.0221
1               0.0219
2               0.0233
3               0.0222
4               0.0217
...                ...
39594           0.0591
39595           0.0529
39596           0.0429
39597              NaN
39598           0.0226

[39599 rows x 68 columns]

For use in app:

In [ ]:
# When app initializes
db_url = "postgresql://spraydabase_user:8pgy9Sba79ETgds8QcaycQj0U6uIhhwQ@dpg-cur2o7lds78s7384jthg-a.oregon-postgres.render.com/spraydabase"
engine = create_engine(db_url)

# Call to load data
df = pd.read_sql("SELECT * FROM data", engine)

NameError: name 'create_engine' is not defined

In [13]:
from sqlalchemy import inspect
from sqlalchemy import text
inspector = inspect(engine)
table_names = inspector.get_table_names()
print(table_names)

['RT25202901']

In [12]:
from sqlalchemy import text

table_name = '"oceanographic_data"'  # Ensure the table name is correctly quoted

with engine.connect() as conn:
    conn.execute(text(f'DROP TABLE IF EXISTS {table_name}'))
    conn.commit()

print(f"Table {table_name} dropped successfully.")

Table "oceanographic_data" dropped successfully.

In [10]:
from sqlalchemy import inspect
db_url = "postgresql://spraydabase_user:8pgy9Sba79ETgds8QcaycQj0U6uIhhwQ@dpg-cur2o7lds78s7384jthg-a.oregon-postgres.render.com/spraydabase"
engine = create_engine(db_url)
inspector = inspect(engine)
files = inspector.get_table_names()
latest_table = f'"{files[-1]}"'  # Add double quotes for case-sensitive or numeric table names
query = f'SELECT * FROM {latest_table}'

In [11]:
df = pd.read_sql(query, engine) #double quotes needed for case-sensitive or numeric names
print(df.head())

     Cruise  Station Type        Date      Time            Datetime  Lon [째E]  \
0  25202901        1    C  2025-02-05  16:59:00 2025-02-05 16:59:00  -121.859
1  25202901        1    C  2025-02-05  16:59:00 2025-02-05 16:59:00  -121.859
2  25202901        1    C  2025-02-05  16:59:00 2025-02-05 16:59:00  -121.859
3  25202901        1    C  2025-02-05  16:59:00 2025-02-05 16:59:00  -121.859
4  25202901        1    C  2025-02-05  16:59:00 2025-02-05 16:59:00  -121.859

   Lat [째N]  QF  Pressure[dbar]  ...  VK[Volts]  QF.25  VK_STD[Volts]  QF.26  \
0    36.805   0           60.72  ...     0.3645    0.0            0.0    0.0
1    36.805   0           60.28  ...     0.3644    0.0            0.0    0.0
2    36.805   0           59.68  ...     0.3642    0.0            0.0    0.0
3    36.805   0           59.16  ...     0.3640    0.0            0.0    0.0
4    36.805   0           58.56  ...     0.3639    0.0            0.0    0.0

   IK[nA]  QF.27  Ib[nA]  QF.28  PHIN_CANYONB[Total]  QF.29
0  -13.33    0.0   187.9    0.0               7.9531    8.0
1  -13.33    0.0   187.8    0.0               7.9534    8.0
2  -20.00    0.0   187.8    0.0               7.9535    8.0
3   -6.67    0.0   187.8    0.0               7.9533    8.0
4  -13.33    0.0   187.7    0.0               7.9536    8.0

[5 rows x 67 columns]